<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <p>I learned to code using Java in university. I also know how to use C# and like to use it for game development.</p>
  </div>
  <div class="tech">
    <h2>Engines/Frameworks</h2>
    <div id="logos">
      <div class="unity-logo"></div>
      <div class="libgdx-logo"></div>
    </div>
    <p>I've built games using the Unity® game engine and the libGDX application framework.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-intellij-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <p>I have experience using Git to manage personal projects, and my IDEs of choice are IntelliJ for Java and Visual Studio for C#.</p>
  </div>
</div>
