<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="wood" src="{{ " ../assets/img/wood-capture.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Virtual Woodcutter </h3>
    <ul>
      <li> Java </li>
      <li> Android </li>
      <li> libGDX </li>
    </ul>
    <p>Virtual Woodcutter is the second game I've ever made and my first hands-on experience
      designing something for Android. I've always thought idle games were an interesting concept.
      The only objective is to gather as many resources as humanly possible, in this case, wood and gold.
      I faced many challenges making it, but it was all worth it in the end because I managed to learn so much
      during its development. I learned about new and useful game design patterns like game states. It also taught
      me why it's imperative to optimize code, especially for mobile applications.</p>
    <a class="project-link" href="https://github.com/hines-r/virtual-woodcutter">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="defense" src="{{ " ../assets/img/defense-capture.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Defense Game </h3>
    <ul>
      <li> C# </li>
      <li> Unity® </li>
    </ul>
    <p>This is the first game I've made using the Unity game engine and the C# programming language.
      It's a physics-based defend the castle type game with elements of a tower defense.
      This game taught me how useful singleton patterns can be and forced me to challenge myself with difficult
      problems involving physics, linear algebra, algorithms, and vectors. It has also been one of the most enjoyable experiences
      for me solving these problems and implementing them into code. It made me realize just how powerful
      mathematics and programming can be.</p>
    <a class="project-link" href="https://github.com/hines-r/defense-game">Check it out</a>
  </div>
</div>
