<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="wood" src="{{ "/assets/img/wood-capture.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Virtual Woodcutter </h3>
    <ul>
      <li> Java </li>
      <li> Android </li>
      <li> libGDX </li>
    </ul>
    <p>Virtual Woodcutter is the second game I've ever made and my first hands-on experience designing something for Android. I've always thought idle games were an interesting concept. The only objective is to gather as many resources as humanly possible. In this case, wood and gold. I faced many challenges making it, but it was all worth it in the end because I managed to learn so much during its development. I learned about new and useful game design patterns like game states and object pooling. It also taught me why it's imperative to optimize code, especially for mobile applications because of the slower hardware. It was also a great project to practice UI design and implementation.</p>
    <a class="project-link" href="https://github.com/hines-r/virtual-woodcutter" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="defense" src="{{ "/assets/img/defense-capture0.png" | prepend: site.baseurl }}" />
    <img alt="defense" src="{{ "/assets/img/defense-capture1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Defense Game </h3>
    <ul>
      <li> C# </li>
      <li> Unity® </li>
    </ul>
    <p>This is the first game I've made using the Unity game engine and the C# programming language. It's a physics-based defend the castle type game with elements of a tower defense. This game taught me how useful singleton patterns are and forced me to challenge myself with difficult problems involving physics, linear algebra, algorithms, and vectors. It has also been one of the most enjoyable experiences for me solving these problems and implementing them into code. It made me realize just how powerful mathematics and programming can be.</p>
    <a class="project-link" href="https://github.com/hines-r/defense-game" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-details">
  <h1> Other Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="database" src="{{ "/assets/img/street_view.png" | prepend: site.baseurl }}" />
    <img alt="database" src="{{ "/assets/img/map_view.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Home Database Tool </h3>
    <ul>
      <li> Java </li>
      <li> SQL </li>
    </ul>
    <p>This program was a group project I completed while still in university. Its purpose is to search, store and categorize homes or even locations by their current condition or state of being. It works by utilizing an SQL database to store entries by pressing the buttons on the right side of the GUI. The maps are generated using the Google Maps API, and the user can toggle between street view or map view via the right side toggle buttons. Depending on the view mode, there are also two sliders the user can control. When in street view mode, there is a field of view adjustment slider and an angle slider to adjust the viewing angle of the 360° camera at any given position. While in map mode, the user has access to a zoom slider to zoom in or out of the image. I was in charge of implementing the GUI and getting the API integrated into the program. It was a great project, and I learned a lot from it.</p>
  </div>
</div>
